
.sideNavContainer{
	position: relative;
	background-color: white;
	max-width: 300px;
	padding-left: 3rem !important;
	padding-right: 1rem !important;
	padding-top: 3rem !important;
}

.sideNav{

}

.sideNavMenu{
	display: flex;
	flex-direction: column;
	font-weight: 400;
	width: 100%;
	text-transform: none;
	font-size: 20px;
	font-family: "PT Sans Bold";
}



.listItem{
	list-style: none;
	padding-left: 0;
	font-weight: bold !important;
	margin-top: 10px;
	color: black;
	font-size: 2em;
	line-height: 1;
}

.location{
	color: #EC7604;

}

.listItemLink{
	line-height: 1.3;
	position: relative;
}


.menuSocialContainer{
	display: flex;
	flex-direction: row;
}