.sideNavContainer {
  position: relative;
  background-color: white;
  max-width: 300px;
  padding-left: 3rem !important;
  padding-right: 1rem !important;
  padding-top: 4rem !important;
}

.sideNavMenu {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  width: 100%;
  text-transform: none;
  font-size: 20px;
  margin-bottom: 20px;
}

.listItem {
  list-style: none;
  padding-left: 0;
  font-weight: bold !important;
  margin-top: 10px;
  color: black;
  font-size: 2em;
  line-height: 1;
}

.listItem:hover {
  /* color: white; */
}

.location {
  color: var(--purple);
}

.location:hover {
  color: var(--purple);
}

.listItemLink {
  line-height: 1.3;
  position: relative;
}



@media screen and (max-width: 768px) {
	.barContainer{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-top: 1px solid black;
		height: 100%;
		justify-content: space-between;
		/* padding: 0 1rem; */
	}

	.button{
		background-color: white;
		color: white;
		padding: 10px;
		font-size: 1.5em;
		font-weight: bold;
		text-decoration: none;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		border:none;
		flex-direction: column;
		background-color: white;
		height: 100%;
		max-width: 150px;
	}

	.button:nth-child(1){
		justify-self: flex-start;
	}

	.orderButtons{
		display: flex;
		flex-direction: row;
	}
	
	.label{
		font-size: 0.5em;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 5px;
		color: black;
	}
	.button:hover{
		color: white;
		text-decoration: none;
	}

	.sideNavContainer {
		padding-top: unset !important;
		border-top: 1px solid black;
		max-width: unset;
		width: 100%;
	}

  .sideNav {
		max-width: 300px;
		height: 0;
		overflow: hidden;
    transition: height 0.3s ease-in-out;
  }
	.open {
		height: auto; /* or specify a fixed height if you know it */
	}
}
