.aboutContainer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-left: 55px;
	padding-right: 55px;
	margin: 5rem auto 5rem auto;
}

.aboutUsHeader{
	font-weight: 500;
}

.about{
	max-width: 800px;
	padding: 40px 0;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	color: #585858;
}

.woodyImage{
	width: 300px;
	object-fit: contain;
}