.pageContainer {
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
}

.categoryContainer{
  margin-top: 48px;
  margin-right: 120px;
  margin-left: 120px;
}



.menuGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  display: grid;
  flex-direction: column;
}

.header {
  margin-bottom: 16px;
  font-weight: 500;
}


@media screen and (max-width: 1280px) {



  .categoryContainer{
    margin-top: 48px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .menuGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .flex{
    border-top: 1px solid black;
  }
  .pageContainer {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
  }
}