.pageContainer {
  margin-left: 120px;
  margin-top: 40px;
  margin-right: 120px;
  margin-bottom: 80px;
}

.categoryContainer{
  margin-top: 48px;
}

.menuGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  display: grid;
}

.header {
  margin-bottom: 16px;
  font-weight: 500;
}
