.pageContainer {
  margin-left: 120px;
  margin-top: 80px;
  margin-right: 120px;
  margin-bottom: 80px;
}

.menuGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  display: grid;
}

.header {
  font-weight: 400;
}
