.blurbContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 1rem;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.imageList {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.blurbImage {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
	margin-bottom: 24px;
}

.blurbTextContainer {
  max-width: 300px;
}

.blurbHeader {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.blurb {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}
