.main{
	position: relative;
	height: 100%;
}

.container{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.sideNavAndImageContainer{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	/* background-color: red; */
}