.menuSocialContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icon {
  padding: 5px;
}

.faIcon:hover {
  color: var(--purple);
}

@media screen and (max-width: 768px) {
  .menuSocialContainer {
    display: flex;
    margin-top: 24px;
  }
}
