.topBarContainer {
  --barHeight: 100px;
  width: 100%;
  color: #666768;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: row;
  position: relative;
}

.bars {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.bar {
  height: var(--barHeight);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding-right: 20px;
}

.bar1 {
  background-color: white;
}

.bar2 {
  background-image: url("../../assets/bar_bg.jpeg");
}

.bar1Item {
  font-size: 1.5em;
  color: black;
}

.bar2Item {
  font-size: 1.5em;
  color: white;
}

.brandImageLink {
  border-radius: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

.brandImage {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 150px;
  z-index: 1;
  position: relative;
}

.orderButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
}

.orderNowLink {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.orderNowLink:hover {
  background-color: var(--purple);
}
