/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/about/about.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.about_aboutContainer__YlZXj{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-left: 55px;
	padding-right: 55px;
	margin: 5rem auto 5rem auto;
}

.about_aboutUsHeader__LgQ4g{
	font-weight: 500;
}

.about_about__zxZUz{
	max-width: 800px;
	padding: 40px 0;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	color: #585858;
}

.about_woodyImage__6zoWi{
	width: 300px;
	object-fit: contain;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src/app/about/page.js","import":"","arguments":[{"src":"../assets/fonts/avenir_next.woff2"}],"variableName":"avenirFont"} ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__avenirFont_d16ac4';
src: url(/_next/static/media/537e2d0dad09bac2-s.p.woff2) format('woff2');
font-display: swap;
}@font-face {font-family: '__avenirFont_Fallback_d16ac4';src: local("Arial");ascent-override: 91.81%;descent-override: 24.29%;line-gap-override: 0.00%;size-adjust: 102.92%
}.__className_d16ac4 {font-family: '__avenirFont_d16ac4', '__avenirFont_Fallback_d16ac4'
}

